<div id="availability">
  <header>
    <h3>Status &amp; Availability</h3>
    <h4><%= getAvailability() %></h4>
  </header>
  <ul>
    <li><p><i class="fa fa-check-circle-o"></i> Contract roles</p>
    <li><p><i class="fa fa-check-circle-o"></i> Re-location &amp; commuting</p>
  </ul>
</div>

<!--
<div id="social">
  <header>
    <h3>On the Web</h3>
  </header>
  <ul>
    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
    <li><a href="#"><i class="fa fa-github-square"></i></a></li>
    <li><a href="#"<i class="fa fa-stack-exchange"></i></a></li>
  </ul>
</div>
-->