#messages {
	position: relative;
	
	a.message-btn {
		color: rgba(255, 255,255, 0.7);
		font-size: 1em;
		font-weight: 600;
	}

	a:hover, a:visited, a:active, a:focus {
		text-decoration: none;
	}
}

.message-list {
	display: none;
	position: absolute;
	padding: 5px 0; 
	list-style: none;
	width: 320px;
	border: 1px solid #B2B2B2;
	border-top: 0;
	background-color: #fff;
	margin: 10px 0 0 -246px;
	z-index: 1000;

	.message-item {
		font-size: 1em;
		padding: 10px;

		a.message-link {
			display: block;
			
			p {
				text-transform: capitalize;
				font-weight: 600;
				margin: 0;
				color: rgba(0,0,0, 0.9);
			}

			small {
				color: rgba(0,0,0, 0.8);
			}
		}
	}

	.message-item:last-of-type {
		border-bottom: none;
	}
}