.work-item {
  margin-top: 2.1875em; /* 35px */

  header {
    border-bottom: 1px solid #eee;
  }

  section {
    @include transition(all 0.15s ease-out);
    opacity: 1;

    p {
      font-weight: 400;
    }
  }
}

.work-item li  {
  line-height: 1.625em;
  margin: 5px 0;
}

.work-item a.toggle {
  float: right;
  margin: 5px 0;
  color: #646464;
}

.work-item a.toggle:hover {
  color: #000;
}

.toggle i:before {
  content:"\f147";
}

.work-item[data-minified=true] {
  .toggle i:before {
    content:"\f196";
  }

  section {
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
}

