.work-item {
  margin-top: 2.1875em; /* 35px */

  header {
    border-bottom: 1px solid #eee;
  }

  section p {
    font-weight: 400;
  }
}

.work-item li  {
  line-height: 1.625em;
  margin: 5px 0;
}

.work-item a.toggle {
  float: right;
  margin: 5px 0;
  color: #646464;
}

.work-item a.toggle:hover {
  color: #000;
}