/*
Error: Invalid CSS after "  margin": expected ";", was ": 1em 0;"
        on line 61 of public/styles/sass/base.scss
        from line 1 of public/styles/sass/main.scss

56:   font-weight : normal;
57: }
58: 
59: p {
60:   font-size: 1.0625em /* 17px *\/
61:   margin: 1em 0;
62: }

Backtrace:
public/styles/sass/base.scss:61
public/styles/sass/main.scss:1
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/scss/parser.rb:1165:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/scss/parser.rb:1099:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/scss/parser.rb:1094:in `tok!'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/scss/parser.rb:761:in `block in try_declaration'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/scss/parser.rb:1139:in `call'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/scss/parser.rb:1139:in `rethrow'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/scss/parser.rb:766:in `try_declaration'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/scss/parser.rb:696:in `declaration_or_ruleset'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/scss/parser.rb:661:in `block_child'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/scss/parser.rb:650:in `block_contents'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/scss/parser.rb:642:in `block'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/scss/parser.rb:636:in `ruleset'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/scss/parser.rb:660:in `block_child'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/scss/parser.rb:653:in `block_contents'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/scss/parser.rb:117:in `stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/scss/parser.rb:42:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/engine.rb:393:in `_to_tree'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/engine.rb:299:in `to_tree'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:313:in `block in visit_import'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/stack.rb:88:in `block in with_import'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/stack.rb:88:in `with_import'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:52:in `map'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:157:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:8:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/root_node.rb:36:in `css_tree'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/engine.rb:285:in `render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/exec/sass_scss.rb:396:in `run'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/exec/sass_scss.rb:62:in `process_result'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/exec/base.rb:52:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/exec/base.rb:19:in `parse!'
/var/lib/gems/1.9.1/gems/sass-3.4.5/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"  margin\": expected \";\", was \": 1em 0;\"\A         on line 61 of public/styles/sass/base.scss\A         from line 1 of public/styles/sass/main.scss\A \A 56:   font-weight : normal;\A 57: }\A 58: \A 59: p {\A 60:   font-size: 1.0625em /* 17px */\A 61:   margin: 1em 0;\A 62: }"; }
