body {
   font-size: 17px;
   font-family: "Source Sans Pro";
   font-style: normal;
   font-weight: 400;
}

main  {
   width: 60%;
   max-width: 560px;
   float: left;
}

aside {
   margin-top: 170px;
   width: 30%;
   float: right;
}


h1 {
   font-size: 43px;
   line-height: 73px;
   margin: 0;
}

h2 {
   font-weight: 300;
   margin: 0;
}

p {
   width: 570px;
}

header {
   clear : both;
}

article {
   margin-top: 35px;
}

h3 {
   font-weight: 400;
   font-size: 22px;
   line-height: 30px;
   margin: 0;
}
article header {
   border-bottom: 1px solid #eee;
}


article header p {
   font-weight: 500;
}

article p, article li {
   line-height: 26px;
   margin: 5px 0;
   font-weight: 400;
}

.side-block {
   margin-bottom: 20px;
}

.side-block ul {
   list-style : none;
   margin:0;
   padding:0;
}

.side-block li {
   margin:0;
   padding:0;
}

.side-block p i {
   margin-right: 5px;
}

.side-block li p {
   margin: 0;
   width : auto;
   font-size: 15px !important;
   opacity: 0.9;
}

.side-block h4 {
   margin: 0 0 5px 0;
   font-weight: normal;
   width : auto;
}

#social {
   margin-top:20px;
   padding-right: 34px;
}

#social ul {
   list-style : none;
   text-align: center;
   margin:0;
   padding:0;
}

#social li {
   margin-right: 5px;
   display: inline;
}

#social a {
   font-size: 20px;
   color: #000;
}

#app {
   width: 60%; margin: 0 auto;
   overflow: hidden;
}

.contact {
   width: 200px;
   float: right;
   padding: 30px;
   text-align: right;
}

.break {
   page-break-after: always;
}

#education {
   margin-top: 25px;
}

#skills {
   margin-top: 25px;
}

#skills h3, #education h3 {
   border-bottom: 1px solid #eee;
   padding-bottom: 5px;
}

#skills p {
}

#skills ul  {
   margin: 5px 0;
   padding: 0;
   list-style: none;
}

#skills ul ul {
   margin-bottom: 10px;
   margin-left:10px;
}

#skills ul li ul li {
   display: inline;
   font-size: 15px;
}

footer {
   padding: 10px;
   margin-top: 10px;
   border-top: 1px solid #eee;
   clear: both;
   text-align: center;
}

.compress {
   height : 0;
   overflow: hidden;
}

#work header i {
   float: right;
   margin: 5px 10px 0;
   color: #646464;
}

#work header i:hover {
   color: black;
}